* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgba(240, 248, 255, 0.641);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header {
  margin: 0px auto;
  width: 100%;
  border: 2px solid black;
  text-align: center;
}
nav ul li {
  float: left;
  list-style: none;
  margin: 1%;
}
ul li {
  display: flex;
  justify-content: space-between;
  background-color: rgb(5, 111, 182);
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 15px;
}
.contenido {
  display: flex;
}
.position {
  position: relative;
  right: -60%;
}
.border2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 98%;
  padding: 1%;
  height: 100%;
  border: 3px solid black;
  background-color: rgb(221, 238, 253);
}
.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pie {
  display: flex;
  align-items: flex-start;
}

.button-interaction:link {
  color: white;
}
.button-interaction:visited {
  color: white;
}
.button-interaction:hover {
  color: rgb(185, 138, 229);
}
.button-interaction:active {
  color: blue;
}
footer {
  color: white;
  background-color: rgb(2, 37, 60);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
